<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Scheduler.Properties.Settings>
      <setting name="" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="DoubleBuffering" serializeAs="String">
        <value>False</value>
      </setting>
    </Scheduler.Properties.Settings>
  </applicationSettings>
  <appSettings>
    
  </appSettings>
<connectionStrings>
  <!--<add name="ScheduleConfigDBEntities" connectionString="metadata=res://*/Data.ScheduleConfig.csdl|res://*/Data.ScheduleConfig.ssdl|res://*/Data.ScheduleConfig.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\ScheduleConfigDB.sdf;Password=admin&quot;" providerName="System.Data.EntityClient" />-->
<add name="ScheduleConfigDBEntities" connectionString="metadata=res://*/Data.ScheduleConfiguration.csdl|res://*/Data.ScheduleConfiguration.ssdl|res://*/Data.ScheduleConfiguration.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Data\ScheduleConfigDB.sdf;Password=admin&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>